section{
    padding: 2rem 9%;
}

.anime{
    padding:5rem;
}

.anime .box{
    width: 299px;
    height:168px;
}

.anime .content h3{
    font-size: 1.7rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.anime .content P{
    font-size: 1.2rem;
    color:#fff;
    text-decoration: none;

}